@media print {
  #selectstable {
    page-break-before: always;
  }
}

.jobinfo {
  text-align: center;
}

textarea {
  font-family: Calibri, sans-serif;
  font-size: 10pt;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 11pt;
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 21pt;
}

/* checklist */
fieldset{
  margin-bottom: 30px;
}

#jobfeatures {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  height: 100 px;
  float: center;
}

#checklist {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-coutn: 2;
}

li {
  list-style-type: none;
}

ul {
  -webkit-margin-before: 0px;
  margin-top: 0px;
  padding-left: 30px;
}

.striked{
  text-decoration: line-through
}

/* Worksheet */
caption,
.caption {
  text-align: left;
  font-weight: bold;
  font-size: 12pt;
}


/* Worksheet - leftfloatgroup (Imported Fields Section) */

.leftfloatgroup {
  float: left;
  min-width: 65%;
}

#loadlist {
  border: 1px solid black;
  padding: 10px;
  min-width: 400px;
}

#importtable,#mergetable, #tritable {
  border-collapse: collapse;
}

#importtable th, #mergetable th, #tritable th {
  text-align: left;
  border: 1px solid black;
  padding: 2px;
  width: 107px;
  height: 20px;
}

#importtable td {
  border: 1px solid black;
  padding: 0px;
  max-width: 47px;
  text-align: center;
}

#mergetable td, #tritable td {
  border: 1px solid black;
  padding: 0px;
  width: 47px;
  text-align: center;
}

.listlabel {
  height: 95px;
  vertical-align: bottom;
}

.listname {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  display: block;
  transform-origin: 17px 15px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.smallfont {
  font-size: 9pt;
}


/* Worksheet - rightfloatgroup */

.rightfloatgroup {
  float: right;
  min-width: 25%;
}

#notestable {
  border: 1px solid black;
  padding: 5px;
  max-width: 250px;
  min-width: 221px;
}

#ncoatable, #dedupetable {
  border: 1px solid black;
  padding: 5px;
  max-width: 250px;
  min-width: 221px;
  margin-top: 10px;
}


/* Worksheet - bottomfloatgroup */

.bottomfloatgroup {
  min-width: 95%;
}

#selectstable td:nth-child(2) {
  padding-right: 15px;
}

#selectstable {
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

#totalstable {
  border: 1px solid black;
  padding: 5px;
  width: 48%;
  max-width: 220px;
  margin-top: 20px;
  margin-bottom: 50px;
  float: left;
}

#timestable {
  border: 1px solid black;
  padding: 5px;
  width: 48%;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  float: right;
}

/* Output Order */
#order {
  float: right;
  font-weight: bold;
  font-size: 20pt;
}
